<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="cyan lighten-3" role="navigation">
  <div class="nav-wrapper container"><a id="logo-container" class="brand-logo"></a>
    <ul class="right hide-on-med-and-down">
      <li>
        <a>
          Brasil S A 
        </a>
      </li>
    </ul>
     
    <i data-activates="nav-mobile" class="button-collapse">
      <a href="/" class="material-icons icon-position">home</a>
    </i>
  </div>
</nav>

<div class="section no-pad-bot" id="index-banner">

</div>  

<%= yield %>

</body>
</html>
